body{
	background-color: #f6f6f6;
}

.box-inner{
	width:1190px;
	margin:0 auto;
	overflow: hidden;
}
.red{color:red;}
a:hover{
	color: #c81623;
}
.spacer{
	float: left;
	width: 1px;
	height: 10px;
	background-color: #ccc;
}
.sp-slash{
	padding: 0 3px;
}
.moveleft,.moveup,.moveright{
	transition: transform 0.3s ease;
}
/*-- start 顶部菜单--*/
#top-nav{
	border-bottom: 1px solid #ddd;
	background-color:#e3e4e5;
}

#top-nav .box-inner{
	height: 30px;
	line-height: 30px;
	overflow: visible;
}
#top-nav li{
	float:left;
}

#top-nav dd{
	float: left;
	margin: 0px;
}
.dropdown{
	height: 30px;
	line-height: 30px;
	padding: 0 7px;
	border: 1px solid transparent;
	position: relative;
	float: left;
}
.dropdown-list{
	display: none;
	padding: 10px;
	background-color: #fff;
	border:1px solid #ccc;
	border-top: none;
	position: absolute;
	top:29px;
	left: -1px;
	margin:0;
	z-index: 999;
	box-shadow: 1px 1px 2px rgba(0,0,0,.1);
}
.dropdown:hover{
	background-color: #fff;
	border: 1px solid #ccc;
	border-bottom: none;
}
.dropdown:hover .dropdown-list{
	display: block;
}


/*-- 定位 --*/

.user-location{
	float: left;
	margin-left: 200px;
}
.location-list{
	width: 300px;
}
.location-list li{
	width: 60px;
}
.location-list .item{
	padding: 5px 8px;
}
.location-list .item:hover{
	background-color: #f4f4f4;
	color: #f10215;
}
.location-list .item.selected{
	background-color: #f10215;
	color:#fff;
}

/*-- 用户功能 --*/
.user-func{
	float:right;
}
.user-func .iconfont{
	margin-left: 3px;
}
.user-func-list{
	padding: 0 7px;
	border: 1px solid transparent;
}
.user-func-list a{
	height: 30px;
	line-height: 30px;
}
.link-login{
	font-size: 11px;
}
.link-regist{
	color: #c81623;
}

#top-nav .spacer{
	margin: 11px 3px 0;
}
.myjd{
	width: 260px;
	padding: 0px;
}
.myjd ul{
	overflow: hidden;
  padding: 5px 15px;
  border-bottom: 1px solid #ccc;
}
.myjd ul:last-of-type{
	border-bottom: none;
}
.myjd ul li{
	width: 115px;
}
.myjd ul:last-of-child{
	border-bottom: none;
}

.cli-service{
	width: 170px;
	padding: 10px 0;
	right: -1px;
	left:auto;
}
.dl dl{
	overflow: hidden;
	margin: 0;
}
.cli-service dl{
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	
}
.cli-service dd{
	width: 70px;
	padding-left:15px;
}
.cli-service dt{
	padding-left:15px;
}
.dl dt{
	font-weight: bold;
	color: #666;
}
.dl dd{
	line-height: 24px;
} 
.dl .item{
	margin: 0;
	padding: 0;
}
.dl dl:last-of-type{
	border: none;
}

.web-nav{
	width: 1158px;
	right: -72px;
	left: auto;
	padding: 15px;
}
.web-nav dl{
	float: left;
	border-right: 1px solid #ccc;
}
.web-nav dd{
	width: 80px;
}

.theme{
	width: 344px;
}
.theme dl{
	padding-left: 5px;
}

.industry{
	width: 250px;
	padding-left: 20px;
}
.life{
	width: 250px;
	padding-left:20px;
}
.collection{
	width: 250px;
	padding-left: 20px;
}
/*-- end 顶部菜单--*/

/*-- start 头部 --*/
#header .box-inner{
	height: 140px;
	position: relative;	
	overflow: visible;
}

#logo{
	width: 190px;
	height: 170px;
	position: absolute;
	top: -30px;
	left: 0;
	box-shadow: 0 -12px 10px rgba(0,0,0,0.2);
}
#logo a{
	display: block;
	width: 190px;
	height: 170px;
}
#logo a img{
	width: 190px;
	height: 170px;
	background:url(../img/loading.gif) no-repeat center;
	background-color:#fff;
}

.search,.search-form,.serach-words,.mycart,.main-nav{
	float: left;
}
.search{
	width: 550px;
	margin: 25px 0 0 320px; 
}
.search-form{
	width: 550px;
	position: relative;
}
.search-form input{
	float: left;
	width: 488px;
	height: 23px;
	line-height: 23px;
	padding: 5px;
	border: 1px solid #f10215;
	outline: none;
	margin-bottom: 5px;
}
.search-form button{
	float: left;
	width: 50px;
	height: 35px;
	line-height: 35px;
	border:none;
	background-color: #f10215;
	cursor: pointer;
}
.search-form button .iconfont{
	font-size: 20px;
	color: #fff;
}
.search-form .photo{
	position: absolute;
	left: 460px;
	font-size: 24px;
}
.search-words a{
	margin-right: 5px;
}
.mycart{
	margin:25px 0 0 30px;
	position: relative;
}
.mycart-de{
	width: 188px;
	height: 33px;
	line-height: 33px;
	float: left;
	border: 1px solid #e3e4e5;
	text-align: center;
	position: relative;
	z-index: 3;
	overflow: hidden;
	background-color: #fff;
}
.mycart a{
	color: #f10215;
	line-height: 33px;
}
.mycart .iconfont{
	font-size: 20px;
	color: #f10215;
}
.pdt-num{
	display: inline-block;
	width: 12px;
	height: 12px;
	line-height: 12px;
	border: 1px solid #f10215;
	background-color: #f10215;
	border-radius: 50%;
	color:#fff;
	position: absolute;
	left: 138px;
	top: 5px;
}
.products{
	display: none;
	position: absolute;
	right: 0px;
	top: 35px;
	border: 1px solid #ccc;
	width: 308px;
	background-color: #fff;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 2;
}
.cart-empty{
	line-height: 49px;
	text-align: center;
	padding: 15px 0;
}
.cart-empty span{
	display: inline-block;
	width: 56px;
	height: 49px;
	background: url(../img/empty.png) no-repeat;
	background-size: 56px 49px;
}
.mycart:hover .mycart-de{
	border-color: #ccc;
	border-bottom: none;
	padding-bottom: 2px;
}
.mycart:hover .products{
	display: block;
}

.main-nav{
	width: 790px;
	height: 40px;
	margin:15px 0 0 200px;
} 
.main-nav ul{
	float: left;
}
.main-nav li{
	float: left;
	margin-left: 30px; 
}
.main-nav li a{
	font-size: 16px;
	line-height: 40px;
	font-weight: bold;
	color: #666;
	position: relative;
}
.main-nav li a:hover{
	color: #c81623;
}
.subtitle{
	width: 30px;
	height: 18px;
	position: absolute;
	top:-8px;
	left: 65px;
}
.main-nav .spacer{
	margin: 15px -10px 0 20px;
}
/*-- end 头部 --*/

/*-- start 主展示区 --*/

#mid .box-inner{
	height: 480px;
	z-index: 1
}
#subnav{
	float: left;
	width: 190px;
	height: 450px;
	background-color: #6e6568;
	padding: 15px 0;
	position: relative;
}
.cate-items{
	height: 30px;
	width: 180px;
	line-height: 30px;
	padding-left: 10px;
}
.cate-items a{
	color: #fff;
	font-size: 14px;
}
.cate-items.selected{
	background-color: rgba(255,255,255,.5);
}
#mid .box-inner{
	overflow: visible;
}
#mid .cate-items a:hover{
	color: #c81623;
}
.sp-slash{
	color: #fff;
	font-size: 14px;
}
#sn-pop{
	display: none;
	width: 962px;
	min-height: 438px;
	padding: 20px 15px 20px 20px;
	position: absolute;
	left: 190px;
	top: 0;
	border: 1px solid #ddd;
	box-shadow: 2px -1px 2px rgba(0,0,0,.1);
	overflow: hidden;
	background-color: #fff;
	z-index: 3;
}
#sn-pop.show{
	display:block;
}
.pop-item{
	display: none;
	float: left;
	width: 958px;
}
.pop-item.show{
	display: block;
}
.pop-pd-links{
	float: left;
	width: 780px;
}
.pd-channel{
	overflow: hidden;
}
.pd-channel li{
	float: left;
	margin: 0 10px 10px 0;
}
.pd-channel a{
	display: block;
	color: #fff;
	padding: 0 7px;
	height: 25px;
	line-height: 25px;
	background-color: #6e6568; 
}
.pd-channel a:hover{
	background-color: #5c5251;;
}
.pd-channel i{
	color: #fff;
	margin-left: 3px;
}

.pd-cate{
	float: left;
	width: 780px;
}
.pd-cate dl{
	overflow: hidden;
	margin:0px;
}
.pd-cate dt{
	float: left;
	width: 70px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: right;
}
.pd-cate dt a{
	display: block;
	font-weight: bold;
	margin: 9px 0;
}
.pd-cate dt i{
	font-weight: bold;
	font-size: 12px;
	
}
.pd-cate .spacer{
	height: 14px;
	margin-top: 4px;
}
.pd-cate dd{
	float: left;
	width: 680px;
	border-top: 1px solid #ddd;
	margin-left: 10px;
	padding: 6px 0;
}
.pd-cate dl:first-of-type dd{
	border-top:none;
}
.pd-cate dd a{
	float: left;
	margin: 4px 0;
	padding: 0 10px;
	height: 16px;
	line-height: 16px;
}

.pop-br-links{
	float: right;
	width: 168px;
}
.br-brand{
	overflow: hidden;
}
.br-brand a{
	float: left;
	width: 83px;
	height: 35px;
	margin: 1px 1px 0 0;
}
.br-brand img{
	width: 83px;
	height: 35px;
}
.br-ac{
	width: 167px;
	margin-top: 10px;
	overflow: hidden;
}
.br-ac a{
	float: left;
	width: 167px;
	margin:1px 1px 0 0;
}
.br-ac img{
	width: 167px;
	height: 134px;
}

.content{
	float:left;
	width: 800px;
	height: 480px;
}
.con-banner{
	width: 790px;
	height: 340px;
	margin-left: 10px;
	overflow: hidden;
	position: relative;
}
.banner-list{
	height: 340px;
	background:url(../img/loading.gif) no-repeat center;
	background-color:#fff;
}
.banner-list li{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:0;
	opacity: 0;
}
.banner-list li a{
	display: block;
	width: 100%;
	height: 100%;
}
.banner-list li img{
	width: 100%;
	height: 100%;
}

.banner-indicator{
	border-radius: 12px;
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	left: 50%;
	bottom: 20px;
	height: 12px;
	padding: 5px 10px 5px 0;
	z-index: 2;
}
.banner-ind-btn{
	float: left;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	margin-left: 10px;
	background-color: #fff;
}
.banner-ind-btn.hover{
	background-color: #db192a;
}
.banner-slide{
	display: none;
	width: 30px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	position:absolute;
	background-color: rgba(0,0,0,.2);
	top: 50%;
	margin-top: -30px;
	z-index: 2;
}
.con-banner:hover .banner-slide{
	display: block;
}
.banner-slide:hover{
	background-color: rgba(0,0,0,.5);
}
.banner-slide .iconfont{
	color: #fff;
	font-size: 14px;
}
#slide-pre{
	left:0;
}
#slide-next{
	right: 0;
}
.con-poster-son{
	float: left;
	width: 390px;
	height: 130px;
	margin:10px 0 0 10px;
}
.con-poster-son a{
	display: block;
}
.con-poster-son img{
	width: 390px;
	height: 130px;
}

.subbar{
	float: right;
	width: 190px;
	height: 480px;
	background-color: #fff;
}

.sb-user{
	width: 160px;
	padding: 15px;
}
.sb-user-info{
	overflow: hidden;
	width: 160px;
}
.user-info-avatar{
	float: left;
	width: 50px;
	height: 50px;
	position: relative;

}
.info-avatar-img{
	width: 40px;
	border-radius: 23px;
	margin: 5px 0 0 5px;
}
.info-avatar-lk{
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	top:0px;
	background: url(../img/sprite_userinfo@2x.png) no-repeat 0 0;
	background-size: 110px 102px;
}
.user-info-tips{
	float:left;
	width: 100px;
	margin-left: 10px;

}
.user-info-tips p{
	line-height: 20px;
}
.info-tips-welcome{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.sb-user-profits{
	font-size: 0;
	margin-top: 10px;
}
.sb-user-profits a{
	display: inline-block;
	font-size: 12px;
	padding: 3px 10px;
	border: 2px solid #c81623;
	color: #c81623;
	margin-left: 10px;
}
.sb-user-profits a:first-of-type{
	margin-left: 0;
}
.sb-user-profits a:hover{
	background-color: #c81623;
	color: #fff;
}

.sb-news{
	width: 160px;
	border-top: 1px solid #ccc;
	padding: 0 15px;
}

.news-header{
	padding: 10px 0 5px 0;
	height: 12px;
}
.tab-header{
	border-bottom: 1px solid #ccc;
	position: relative;
}
.tab-header a{
	line-height: 12px;
	float: left;
}
.tab-header a:hover{
	color: #999;
}
.tab-header .spacer{
	margin: -1px 10px 0 7px;
	height: 14px;
}
.tab-header .tab-more{
	float: right;
}

.tab-type-hover{
	width: 28px;
	height: 2px;
	background-color: #c81623;
	position: absolute;
	bottom: -1px;
	left: -2px;
	transition: transform .5s ease;
}

.news-content{
	width: 160px;
	height: 103px;
	padding: 10px 0;
}
.nc-list{
	display: none;
}
.nc-list li{
	line-height: 24px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.nc-list.show{
	display: block;
}
.sb-service{
	height: 210px;
	overflow: hidden;
	position: relative;
}
.st-list{
	height: 210px;
	width: 192px;
	margin-left: -1px;
}
.st-list li{
	float: left;
	width: 47px;
	height: 69px;
	overflow: hidden;
	border-top:1px solid #e7e7e7;
	border-left:1px solid #e7e7e7;
}
.st-list a{
	display: block;
	width: 47px;
	height: 54px;
	text-align: center;
	padding-top:15px;
}
.st-list i{
	display: block;
	width: 24px;
	height: 24px;
	margin: 0 auto;
}
.service-text{
	display: block;
	height: 24px;
	line-height: 24px;
	background-color: #fff;
}
.service-icon-huafei{
	background: url(../img/sprite_fs@2x.png) no-repeat;
	background-size:126px 118px;
	background-position: 0px -68px;
}
.service-icon-jipiao{
	background: url(../img/sprite_fs@2x.png) no-repeat;
	background-size:126px 118px;
	background-position: 0px -34px;
}
.service-icon-jiudian{
	background: url(../img/sprite_fs@2x.png) no-repeat;
	background-size:126px 118px;
	background-position: -34px -68px;
}
.service-icon-youxi{
	background: url(../img/sprite_fs@2x.png) no-repeat;
	background-size:126px 118px;
	background-position: -68px 0;
}
.service-icon-qiyegou{
	background: url(../img/sprite_fs@2x.png) no-repeat;
	background-size:126px 118px;
	background-position: -68px -34px;
}
.service-icon-jyka{
	background: url(../img/sprite_fs@2x.png) no-repeat;
	background-size:126px 118px;
	background-position: 0px 0px;
}
.service-icon-dypiao{
	background: url(../img/sprite_fs@2x.png) no-repeat;
	background-size:126px 118px;
	background-position: -34px -34px;
}
.service-icon-hcpiao{
	background: url(../img/sprite_fs@2x.png) no-repeat;
	background-size:126px 118px;
	background-position: -68px -68px;
}
.service-icon-zhongchou{
	background: url(../img/sprite_fs@2x.png) no-repeat;
	background-size:126px 118px;
	background-position: -102px 0px;
}
.service-icon-licai{
	background: url(../img/sprite_fs@2x.png) no-repeat;
	background-size:126px 118px;
	background-position: -102px -34px;
}
.service-icon-lipin{
	background: url(../img/sprite_fs@2x.png) no-repeat;
	background-size:126px 118px;
	background-position: -102px -68px;
}
.service-icon-baitiao{
	background: url(../img/sprite_fs@2x.png) no-repeat;
	background-size:126px 118px;
	background-position: -34px 0px;
}
.st-list-item-cvt a{
	transition: transform .3s ease;
}

.service-text.selected{
	border-top:2px solid #c81623;
	line-height: 21px;
	color: #c81623;
}

.service-content{
	position: absolute;
	top:210px;
	width: 190px;
	height: 186px;
	background-color: #fff;
	transition: transform .3s ease;
}
.sc-tab-title {
	padding: 5px;
	width: 180px;
}
.sc-close{
	position: absolute;
	right: 2px;
	top:0;
	line-height: 12px;
}
.sc-close:hover{
	background-color: #ccc;
	color: #c81623;
}
.sc-tab-con{
	width: 170px;
	padding: 0 10px;
	overflow: hidden;
	position: relative;
}
.sc-tab-list{
	width: 600px;
	height: 200px;
	transition: transform .3s ease;
}
.sc-tab-list-item{
	float: left;
	width: 170px;
	margin-right: 12px;
}
.sc-tab-list-item input{
	outline: none;
}
.sc-tab-title{
	overflow: hidden;
	margin-top: 8px;
}
.sc-tab-title a{
	margin-right:2px;
	float:left;
	height: 21px;
	padding: 0 2px;
	line-height: 21px;
}
.sc-tab-title a.st-hover{
	color: #fff;
	background: url(../img/iframe-san-new.png) center 0 no-repeat;
}

.stl-cz dl{
	overflow: hidden;
	margin:5px 0 10px 0;
}
.stl-cz dl dt{
	float: left;
}
.stl-cz dd{
	float: left;
	margin-left:10px;
	width: 130px;
}
.cut{
	display: none;
	color: #c81623;
}
.cut.cut-show{
	display: inline-block;
}
.search-btn{
	display: block;
	padding: 5px 10px;
	background-color: #c81623;
	color: #fff;
	border: none;
	margin: 15px 0 10px;
	cursor: pointer;
}
.search-tips{
	color:#527cdb;
}
.jp-search .search-btn{
	display: inline-block;
}
.search-line span{
	float:left;
	height: 20px;
	padding: 0 5px;
	background-color:#f7f7f7;
}
.search-line input{
	float:left;
	margin-left: 20px;
	height: 20px;
	line-height: 20px;
	padding: 0;
	width: 80px;
	border: none;
}
.search-line{
	margin-top:6px;
	display: inline-block;
	border: 1px solid #ccc;
	width: 160px;
}

.sc-tab-jp .search-line{
	width: 140px;
}
.jp-type input{
	margin-right: 3px;
}
.jp-type label{
	margin-right: 5px;
}
.jp-search .search-btn{
	display: inline-block;
	margin-top: 3px;
}
.stl-cut a{
	float: left;
	margin-left: 5px;
	width: 79px;
	height: 119px;
}
.stl-cut a img{
	width: 79px;
	height: 119px;
}
.stl-jd-abroad .search-line span{
	width: 50px;
	text-align: center;
}
.yx-value{
	width: 30px;
	margin: 10px 0;
}

/*-- start 京东秒杀 --*/
.sk-header{
	background: url(../img/seckill_hd.png) no-repeat;
	background-size:1190px 55px;
	margin-top: 10px;
}
.list-header{
	position: relative;
	overflow: hidden;
	color: #fff;
}
.header-icon{
	position: absolute;
	top:-4px;
	left: -4px;
	width: 28px;
	height: 28px;
	background: url(../img/sprite_index@2x.png) no-repeat;
	background-size: 170px 158px;
}
.sk-header .header-icon{
	background-position: -118px -80px;
}
.header-title{
	float: left;
	height: 55px;
	line-height: 55px;
}
.sk-title-icon{
	float: left;
	width: 40px;
	height: 40px;
	background: url(../img/sprite_index@2x.png) no-repeat;
	background-position: 0 -30px;
	background-size: 170px 158px;
	margin: 10px 0 0 30px;
}
.list-title{
	float: left;
	font-size: 30px;
	margin-left: 15px;
}
.header-tips{
	float:left;
	height: 55px;
	line-height: 65px;
	margin-left: 20px;
	color: #fff;
	font-size: 14px;
}
.header-tips .iconfont{
	font-size: 14px;
	padding-left: 5px;
}
.header-tips:hover{
	color: #fff;
}
.endtime{
	float: right;
	height: 55px;
	line-height: 65px;
	margin-right: 25px;
}
.endtime-text,.endtime-clock{
	float:left;
}
.endtime-text{
	font-size: 14px;
}
.endtime-clock{
	padding: 0 5px;
	margin-top: 10px;
}
.endtime-clock div{
	float: left;
}
.clock-time{
	width: 35px;
	height: 40px;
	border-radius: 5px;
	background-color: #440106;
	color: #f90013;
	text-align: center;
	line-height: 40px;
}
.clock-split{
	margin:3px 5px;
}
.clock-split i{
	display: block;
	width: 3px;
	height: 3px;
	border-radius: 100%;
	margin-top: 10px;
	background-color: #440106; 
}
.clock-text{
	font-size: 20px;
	font-weight: bold;
}

.sk-con{
	width: 1170px;
	padding: 10px;
	background-color: #fff;
	overflow: hidden;
}
.pdt-slide,.brand-sk{
	float:left;
}
.pdt-slide{
	width: 990px;
	float: left;
	overflow: hidden;
	position: relative;
}
.pdt-list{
	width: 3000px;
	transition:transform 0.5s ease;
}
.pdt-item{
	float:left;
	width:170px;
	padding: 0 14px;
	border-right: 1px solid #e7e7e7;
	position: relative;
}
.item-show{
	display: block;
	width: 170px;
	height: 175px;
}
.item-show-img{
	width: 130px;
	height: 130px;
	margin: 25px auto 10px;
	display: block;
	transition: transform 0.3s linear;
	-webkit-transition: transform 0.3s linear;
}
.item-icon{
	position: absolute;
	top:135px;
  left:0;
	display: block;
	width: 170px;
	height: 20px;
	background: url(../img/sprite_index@2x.png) no-repeat;
  background-size: 180px 158px;
  background-position: 0px 0px;
}
.item-info{
	width: 170px;
	height: 40px;
	overflow: hidden;
}
.cut-price{
	color: #f10214;
	font-size: 24px;
	font-weight: bold;
	margin-right: 10px;
}
.cut-price i,.ori-price i{
	font-style: normal;
	font-size: 12px;
}
.ori-price{
	text-decoration: line-through;
}
.ori-price i{
	text-decoration: none;
}
.pdt-slide-icon{
	display: block;
	position: absolute;
	top:50%;
	height: 40px;
	width: 20px;
	margin-top: -20px;
	text-align: center;
	line-height: 40px;
	color: #fff;
}
.pdt-slide-icon:hover{
	color: #fff;
}
.ps-pre{
	left: 0;
}
.ps-next{
	right: 10px;
}
.pdt-slide:hover .pdt-slide-icon{
	background: rgba(0,0,0,.3);
}
.brand-sk{
	display: left;
	width: 180px;
}
.brand-sk-img{
	width: 180px;
}
/*-- end 京东秒杀 --*/

/*-- start  推荐--*/
#gdthings{
	margin-top: 40px;
}
#gdthings .gd-list{
	width: 390px;
	float:left;
}
.find-good{
	margin-right: 10px;
}
.good-album{
	margin-right: 10px;
}
.find-good .list-header{
	 background-color: #4998a1;
}
.good-album .list-header{
	background-color: #76488e;
}
.rank-list .list-header{
	background-color: #e77005;
}
.icon-bg{
	position: absolute;
	top: 0;
	left:0;
	border-top: 19px solid #f6f6f6;
	border-right: 19px solid transparent;
}
.find-good .header-icon{
	background-position: 0px -130px;
}
.good-album .header-icon{
	background-position: -39px -130px;
}
.rank-list .header-icon{
	background-position: -80px -79px;
}
.gd-list .list-title{
	margin-left: 30px;
}
.gd-list .header-tips{
	float: right;
	margin-right: 20px;
	line-height: 60px;
}
.list-con{
	width: 370px;
	height: 370px;
	padding: 10px;
	background-color:#fff;
	overflow: hidden;
}
.gd-fg-list{
	width: 370px;
	height: 370px;
}
.gd-fg-list li{
	float: left;
	border-right:1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}
.fl-link{
	display: block;
	width: 184px;
	height: 120px;
	position: relative;
}
.fl-link p{
	width: 70px;
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 14px;
	color: #4998a1;
}
.fl-link img{
	width: 80px;
	height: 80px;
	position: absolute;
	top: 30px;
	right: 10px;
}
.gd-fg-list .fg-item-2,.gd-fg-list .fg-item-4,.gd-fg-list .fg-item-6{
	border-right: none;
}
.gd-fg-list .fg-item-5,.gd-fg-list .fg-item-6{
	border-bottom: none;
}
.good-album .list-con{
	position: relative;
}
.gd-ga-list{
	width: 370px;
	height: 370px;
}
.ga-item{
	width: 370px;
	height: 370px;
	background-color: #fff;
	position: absolute;
}
.ga-item a{
	display: block;
	width: 330px;
	height:140px;
	margin:0 auto;
	padding-top:15px;
}
.ga-item a p{
	margin-bottom: 10px;
}
.ga-item div{
	overflow: hidden;
}
.ga-item img{
	width: 110px;
	height: 110px;
	float: left;
}
.gi-con-2 a{
	margin-top: 20px;
	border-top:1px solid #e7e7e7;
}
.ga-banner-indicator{
	position: absolute;
	padding:5px 10px 5px 0;
	border-radius: 3px;
	bottom:20px;
	left: 50%;
	z-index: 2;
	background: rgba(0,0,0,.3);
}

.gb-bn-ind-btn.hover{
	background-color: #c81623;
}
.gb-bn-ind-btn:last-of-type{
	margin-right: 0;
}
.ga-banner-slide{
	display: none;
	position: absolute;
	width: 20px;
	height: 46px;
	top: 50%;
	margin-top:-23px;
	background-color: rgba(0,0,0,.1);
	text-align: center;
	line-height: 46px;
	z-index: 2;
}
.good-album .list-con:hover .ga-banner-slide{
	display: block;
}
#ga-slide-pre{
	left:0;
}
#ga-slide-next{
	right:0;
}
.rank-list .list-con{
	padding-top: 0;
	height: 380px;
}
.rank-list .tab-header{
	height: 30px;
}
.rank-list .tab-header a{
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}
.rank-list .tab-header .spacer{
	margin-top: 8px;
}
.rh-type-hover{
	width: 61px;
}
.rk-con-list{
	width: 370px;
	height: 370px;
}
.rcl-con{
	display: none;
	width: 370px;
	height: 350px;
	padding: 10px 0;
}
.rcl-con.show{
	display: block;
}
.rcl-con-item{
  float:left;
  width: 102px;
  height: 150px;
  padding:10px;
  border-bottom:1px solid #e7e7e7;
  border-right:1px solid #e7e7e7;
}
.rcl-con-item:nth-of-type(3),.rcl-con-item:nth-of-type(6){
	border-right: none;
}
.rcl-con-item:nth-of-type(4),.rcl-con-item:nth-of-type(5),.rcl-con-item:nth-of-type(6){
	border-bottom: none;
}
.rcl-con-item a{
	display: block;
	height: 100%;
}
.rcl-con-item p{
	height: 40px;
	overflow: hidden;
	margin: 10px 0;
}
.rcl-con-item img{
	height: 102px;
}
.rcl-con-item img,.rcl-con-item p{
	width: 102px;
}
.rcl-con-item a:hover p{
	color: #c81623;
}
/*-- end 推荐 --*/

/*-- start 领券中心 --*/
#tickets{
	margin-top: 30px;
}
.tickets-center{
	float: left;
	width: 130px;
	height: 155px;
	padding: 30px;
	background-color: #ea3524;
	color: #fff;
}
.tickets-title{
	font-size: 24px;
	color: #fff;
}
.tickets-icon{
	width: 60px;
	height: 3px;
	background-color: #fff;
	margin-top: 5px;
}
.tickets-more{
	margin-top: 20px;
}
.tickets-more p{
	color: #fff;
}
.tickets-center-enter{
	width: 126px;
	height: 30px;
	border: 2px solid #fff;
	text-align: center;
	line-height: 30px;
	margin-top: 20px;
	color: #fff;
}
.tickets-center-enter .iconfont{
	margin-left: 20px;
	color: #fff;
	font-size: 16px;
}
.tickets-list{
	float: left;
	width: 1000px;
	height: 195px;
	padding: 10px 0;
	margin-left: -1px;
	background-color: #fff;
}
.tickets-item{
	float: left;
	position: relative;
	width: 169px;
	height:175px;
	padding: 20px 15px 0;
	border-left:1px solid #e7e7e7;
}
.tickets-item-link{
	display: block;
	overflow: hidden;
}
.tickets-item-info{
	position: absolute;
	width: 100px;
	height: 177px;
	border-top:3px solid #ea3524;
	background-color: #fff;
	z-index: 10;
}
.info-price,.info-only{
	color: #ea3524;
}
.info-only{
	margin-left: 5px;
}
.price-num{
	font-size: 24px;
	font-weight: bold;
}
.info-msg{
	width: 80px;
	height: 36px;
	padding: 15px 10px;
	background-color: #e7e7e7;
}
.info-more{
	height: 30px;
	background-color: #ea3524;
	line-height: 30px;
	text-align: center;
	color:#fff;
}
.tickets-to-pdt{
	width: 140px;
	height: 140px;
	position: absolute;
	right: 10px;
	top: 30px;
	z-index: 2;
}
/*-- end 领券中心 --*/

/*-- start 广告 --*/
.ad-line .box-inner{
	overflow: hidden;
}
.ad-line{
	background-color: #e0e0e0;
	height: 100px;
	margin-top: 30px;
}
.ad-line a{
	float: left;
	width: 396px;
	height: 100px;
}
.ad-line a:hover{
	opacity: 0.8;
}
/*-- end 广告 --*/

/*-- start 享品质 --*/
.module-header{
	height: 45px;
	line-height: 45px;
	margin: 30px 0 10px 0;
	background: url(../img/split_line.png) repeat-x;
	background-size: 15px 40px;
}
.module-header h3{
	font-size: 24px;
	text-align:center;
	width: 200px;
	height: 45px;
	background-color: #f6f6f6;
	margin:0 auto;
}
.module-content{
	overflow: hidden;
}

.quality-type{
	float: left;
	width: 800px;
}
.quality-list {
	float:left;
	width: 390px;
	height: 170px;
	margin: 10px 10px 0 0;
}
.quality-link{
	position: relative;
	display: block;
	width: 100%;
	height: 170px;
	overflow: hidden;
}
.quality-title{
	position: absolute;
	width: 100px;
	height: 170px;
	padding: 0 20px;
	color: #fff;
	z-index:2;
}
.new-release-title{
	background-color: #59b07d;
}
.shopping-title{
	background-color: #DBCF6E;
}
.luxuery-title{
	background-color: #534b5d;
}
.intel-life-title{
	background-color: #3b838c;
}
.jdmarket-title{
	background-color: #d58717;
}
.jdreceipt-title{
	background-color: #7e5944;
}
.quality-title h3{
	margin: 40px 0 10px 0;
	border-top:2px solid #fff;
	border-bottom: 2px solid #fff;
	font-size: 22px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.quality-title p{
	color: #fff;
}
.quality-img{
	position: absolute;
	width: 400px;
	height: 170px;
	color: #fff;
	z-index: 1;
}
.jdlive{
	float: left;
	margin: 10px 0 0 0;
	width: 390px;
	height: 350px;
}
.live-header{
	background-color:rgba(0,0,0,.7);
	height: 40px;
	line-height: 40px;
	width: 340px;
	padding: 0 25px;
	color: #fff;
}
.live-header h4{
	float:left;
	font-size: 14px;
}
.live-header a{
	float: right;
	color: #fff;
	height: 40px;
	line-height: 40px;
}
.quality-more{
	width: 390px;
	height: 180px;
}
.quality-more .quality-list{
	width: 190px;
}
.quality-list:last-of-type{
	margin-right:0;
}
.quality-more .quality-title{
	position: absolute;
	width: 110px;
	padding: 0 40px;
	height: 80px;
	bottom: 0;
}
.quality-more .quality-title h3{
	margin: 10px 0 10px 0;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	font-weight: normal;
}
.quality-more .quality-title p{
	text-align: center;
}
.global-top-title{
	background-color: #642663;
}
.designer-adv-title{
	background-color: #a93931;
}
.quality-more .quality-img{
	width: 200px;
	height: 170px;
}
.module .box-inner{
	overflow: hidden;
} 

.live-con{
	position: relative;
	width:100%;
	height: 310px;
	background:url(../img/loading.gif) no-repeat center;
	background-color: #fff;
}
.live-cover{
	position: absolute;
	width:100%;
	height: 100%;	
	background-color: rgba(0,0,0,.5);
	z-index: 10;
}
.live-list{
	position: relative;
	height: 100%;
}
.live-item{
	position: absolute;
	height: 100%;
}
.live-item img{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.live-banner-slide{
	display: block;
	position: absolute;
	width: 25px;
	height: 50px;
	top:50%;
	margin-top: -25px;
	line-height: 50px;
	text-align: center;
	background-color: rgba(0,0,0,.8);
}
.live-banner-slide .iconfont{
	font-size: 15px;
}
#live-slide-pre{
	left:0;
}
#live-slide-next{
	right:0;
}
.live-banner-indicator{
	position: absolute;
	bottom: 20px;
	left:50%;
}
/*-- end 享品质 --*/

/*-- start 爱生活 --*/
.module-con{
	width: 1200px;
}

.love-module{
	float: left;
	width: 590px;
	height: 522px;
	margin: 10px 10px 0 0;
}

.love-header{
	width: 553px;
	height: 58px;
	line-height: 58px;
	padding: 0 10px 0 27px;
	overflow: hidden;
}
.love-shopping .love-header{
	background-color: rgb(138,44,98);
}
.love-title{
	float: left;
}
.love-title h4{
	float: left;
	font-size: 20px;
	font-weight: normal;
	color: #fff;
}
.love-title img{
	float: left;
}
.love-key-words{
	float:right;
	height: 27px;
	padding: 15px 0;

}
.love-key-words li{
	float: left;
	margin-right: 10px;
}
.love-key-words li a{
	display: block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	border:1px solid rgba(255,255,255,.5);
	background-color: rgba(255,255,255,.3);
	color: #fff;
}
.love-content{
	width: 570px;
	height: 454px;
	padding: 10px 10px 0 10px;
	overflow: hidden;
	background-color: #fff;
}
.love-poster{
	float: left;
	width: 161px;
	height: 261px;
	padding: 0 0 0 20px;
}
.love-shopping .love-poster{
	background:url("../img/quality_more2.jpg") no-repeat;
	background-size: 220% 150%;
}
.love-beauty .love-poster{
	background:url("../img/quality_more2.jpg") no-repeat;
	background-size: 220% 150%;
}

.love-poster-title{
	margin-top: 20px;
	font-size: 22px;
	text-transform: uppercase;
}
.love-shopping .love-sub-title{
	color: rgba(138,44,98,.5);
}
.love-shopping .love-poster-title,.love-shopping .love-info,.love-shopping .love-list-title{
	color: rgb(138,44,98);
}
.love-sub-title,.love-info{
	font-size: 14px;
}
.love-title-split{
	display: block;
	width: 20px;
	height: 3px;
	margin-top: 10px;
}
.love-shopping .love-title-split{
	background-color: rgb(138,44,98);
}
.love-list{
	float: left;
	width: 375px;
	height:261px; 
	margin-left: 10px;
}
.love-list li{
	float: left;
	width: 187px;
	height: 130px;
	border-right:1px solid #ccc;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.love-list li:nth-of-type(2){
	border-right:none;
}
.love-list li:nth-of-type(3){
	border-bottom:none;
}
.love-list li:nth-of-type(4){
	border:none;
}
.love-list-link{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.love-list-title{
	position: absolute;
	top: 20px;
	left: 20px;
}
.love-list-title h4{
	font-size: 14px;
	font-weight: normal;
}
.love-list-img{
	position: absolute;
	width: 82px;
	height: 92px;
	top: 23px;
	right: 10px;
}
.love-rec{
	float:left;
	width: 570px;
	margin-top: 10px;
}
.love-rec li{
	float: left;
	width: 183px;
	height: 130px;
	margin-right: 10px;
}
.love-rec-link{
	display: block;
	width: 100%;
	height: 100%;
	padding: 0.1px;
	background: url("../img/quality_more1.jpg") no-repeat;
	background-size: 250% 150%;
}
.love-rec-title{
	margin:20px 0 0 20px;
	
}
.love-rec li:nth-of-type(3){
	margin-right: 0;
}
.love-rec-title h4{
	font-size: 16px;
	font-weight: normal;
	color: #000;
}
.love-rec-title p{
	color: #000;
}
.love-rec-title span{
	display: block;
	width: 70px;
	height: 20px;
	line-height: 20px;
	margin-top: 5px;
	text-align: center;
	background-color: #999;
	border-radius: 10px;
	color: #fff;
}
.love-footer{
	float: left;
	height: 54px;
}
.love-footer a{
	float: left;
	width: 93px;
	height: 54px;
	line-height: 54px;
	text-align: center;
}
.love-footer img{
	height: 30px;
	width: 70px;
	vertical-align: middle;
}
.love-footer .spacer{
	height: 20px;
	margin-top: 17px;
}
.love-beauty .love-header,.love-beauty .love-title-split{
	background-color: #cd375e;
}
.love-beauty .love-sub-title{
	color: rgba(205,55,94,.5);
}
.love-beauty .love-poster-title,.love-beauty .love-info{
	color: #cd375e;
}
/*-- end 爱生活 --*/

/*-- start 够特色 --*/
#char .char-type{
	width: 1190px;
	height: 140px;
	margin-top: 20px;
}
#char .quality-list{
	width: 161px;
	height: 140px;
	margin-top: 0px;
}
#char .quality-link{
	height: 140px;
}
#char .quality-img{
	width: 161px;
	height: 140px;
}
#char .quality-title h3{
	border: none;
	font-size: 20px;
	margin:10px 0 0 0;
}
#char .quality-title{
	width: 151px;
	padding: 0 5px;
	height: 60px;
}
/*-- end 够特色 --*/

/*-- start 还没逛够 --*/
#more{
	overflow: hidden;
}
.more-list{
	width: 1200px;
	overflow: hidden;
}
.more-item{
	float: left;
	width: 220px;
	height: 308px;
	padding: 5px;
	margin: 10px 10px 0 0;
	background-color: #fff;
}
.more-item-link{
	display: block;
	height: 308px;
}
.more-item-link img{
	width: 100%;
	height: 220px;
}
.more-item-desc{
	width: 200px;
	padding: 0 10px;
}
.more-item-desc p{
	height: 45px;
	margin-top: 10px;
	overflow: hidden;
}
.more-item-desc span{
	margin-top: 5px;
	color: #c81623;
}
/*-- end 还没逛够 --*/

/*-- start 页脚 --*/
#footer{
	margin-top: 20px;
	background-color: rgb(229,229,229);
}
#footer .slogan{
	height: 100px;
	border-bottom: 1px solid #ccc;
}
#footer .slogan ul{
	height: 100px;
	overflow: hidden;
}
.slogan-inner{
	height: 100px;
}
.footer-inner{
	height: 400px;
}

.slogan li{
	float: left;
	width: 221px;
	padding: 29px 38px;
	height: 42px;
}
.slogan li h3{
	float: left;
	font-size: 18px;
	margin: 8px 0 0 8px;
	color: #444;
}
.slogan li img{
	float: left;
	width: 35px;
	height: 42px;
}
.jdservice{
	width: 1190px;
	height: 170px;
	padding: 20px 0 10px 0;
	border-bottom: 1px solid #ccc;
	color: #777;
	overflow: hidden;
}
.jdservice dl{
	float: left;
	width: 195px;
	height: 100%;
}
.jdservice dt{
	font-size: 14px;
	font-weight: bold;
	
}
.jdservice dd{
	margin: 5px 0 0 0;
	
}
.jddelivery{
	float: right;
	width: 200px;
	height: 100%;
	text-align: center;
}
.jddelivery h4{
	
	font-size: 14px;
}
.jddelivery p{
	margin-top: 15px;
	color: #777;
}
.jddelivery a{
	float: right;
	color: #777;
}
.footer-link{
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.footer-link a{
	display: inline-block;
	padding: 0 10px;
	color: #777;
}
.footer-link .spacer,.footer-licence .spacer{
	float: none;
	display: inline-block;
}
.footer-licence{
	text-align: center;
	margin-bottom: 5px;
}
.footer-licence-img{
	margin-top: 10px;
}
.footer-licence img{
	width: 100px;
	height: 30px;
}
.doc-info{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	background-color: #f7f7f7;
	text-align: center;
}
/*-- end 页脚 --*/
