body,p,a{font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;color:#999;}
a{text-decoration: none;}
ul{list-style-type: none;margin:0;padding: 0;}
li{padding: 0}
h1,h2,h3,h4,h5,h6,p,dl{margin: 0;}
img{vertical-align: bottom;}
